<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./assets/css/style.css">
		<link rel="stylesheet" href="./assets/css/resize.css">
		<script src="./assets/js/main.js"></script>
	</head>
	<body>
		<iframe id="view"></iframe>
	</body>
</html>
